---
layout: default
---
<img style="display: block; margin: 0 auto;" src="/assets/images/trainicorn.png">

{% for p in site.pages %}
{% if p.title == 'Lecture 1 - Introduction' %}
    <p style="text-align: center">(start with <a href="{{ p.url }}">lecture 1</a> if you're not sure where to go from here)</p>
{% endif %}
{% endfor %}

<h2>Lectures</h2>
<ul class="lectures">
{% for p in site.pages %}
{% if p.type == 'lecture' %}
<li>
    <a href="{{ p.url }}" title="{{ p.title }}">{{ p.title}}</a>
</li>
{% endif %}
{% endfor %}
</ul>

<h2>Labs</h2>
<ul class="labs">
{% for p in site.pages %}
{% if p.type == 'lab' %}
<li>
    <a href="{{ p.url }}" title="{{ p.title }}">{{ p.title}}</a>
</li>
{% endif %}
{% endfor %}
</ul>

<h2>Miscellaneous Sessions</h2>
<ul class="misc">
{% for p in site.pages %}
{% if p.type == 'misc' %}
<li>
    <a href="{{ p.url }}" title="{{ p.title }}">{{ p.title}}</a>
</li>
{% endif %}
{% endfor %}
</ul>
