<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>{{ page.title }}</title>
        <link href="/assets/css/bootstrap.css" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Bootcamp Lesson Plans</a>
                </div>
            </nav>

            {% if page.objectives %}
            <div class="objectives jumbotron">
                <h2>Objectives</h2>
                <ul class="objectives">
                    {% for objective in page.objectives %}
                    <li>{{ objective }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {{ content }}
        </div>
    </body>
</html>
